.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.HeaderLink {
    text-decoration: none;
    color: black;
    margin-left: 25px;
}
